 <head>
 <title>cloudDesign&#8482;: Design Tools for Teams</title>
</head>

<template name="main">
{{#if currentUser}}
{{> dashboard}}
{{else}}
{{>welcome}}
{{/if}}
</template>


<template name="welcome">
 
<div class="jumbotron text-info">
  <h1>Welcome to cloudDesign&#8482;</h1>
  <p>This tool suite has been designed from the ground up with making designing new products easy for globally distributed teams.</p>
  <p>It is currently available only in a pre-Alpha release state.  Once we work out the bugs and harden security, the intent is to release it for Beta users.</p>
  <p>At this point, do not put any confidential or private information into the system.  Just try it.  And give us feedback on what needs improved.</p>

  <p>If you accept our <a href="/termsofuse">terms and conditions</a>, then please sign up and give it a test drive.</p>
</div>

<div class="container">
	<div class="row">
  		<h2>cloudDesign Principles</h2>

      	<div class="col-md-3 col-sm-4 col-xs-6 well principleBox">
       		 <div class="principle"><h4>Collaboration</h4></div>
        	 <div class="principleDescription">Teammates can edit documents live, across the room or across the globe, and see each other's updates as they happen.
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 well principleBox">
       		 <div class="principle"><h4>Ease of Use</h4></div>
        	 <div class="principleDescription">We wrote the software around how products are designed.
        </div>
      </div>
        <div class="col-md-3 col-sm-4 col-xs-6 well principleBox">
       		 <div class="principle"><h4>Organization</h4></div>
        	 <div class="principleDescription">Design documentation is collected around a project
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 well principleBox">
       		 <div class="principle"><h4>Speed</h4></div>
        	 <div class="principleDescription">A cached database allows real-time feedback while updating the cloud in the background
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 well principleBox">
       		 <div class="principle"><h4>Security</h4></div>
        	 <div class="principleDescription">A easy to use permissions model combined with industry standard data protection keeps your data secure.
        </div>
      </div>
       <div class="col-md-3 col-sm-4 col-xs-6 well principleBox">
       		 <div class="principle"><h4>Respect</h4></div>
        	 <div class="principleDescription">Your data is yours.  Take it with you whenever and wherever you go.
        </div>
      </div>
            <div class="col-md-3 col-sm-4 col-xs-6 well principleBox">
       		 <div class="principle"><h4>Privacy</h4></div>
        	 <div class="principleDescription">You decide who is on your teams and how to share your information.
        </div>
      </div>
            <div class="col-md-3 col-sm-4 col-xs-6 well principleBox">
       		 <div class="principle"><h4>Design Discipline</h4></div>
        	 <div class="principleDescription">You can document the design.  (Coming soon:  Gate approvals online)
        </div>
      </div>
  	</div>
</div>
</template>